In [88]:
import xml.etree.ElementTree as ET
import pandas as pd
import codecs

with codecs.open('sema-lmes.xml', 'r', encoding='utf8') as f:
    tt = f.read()

def xml2df(xml_data):
    root = ET.XML(xml_data)
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for sub_child in child:
            record[sub_child.tag] = sub_child.text
        all_records.append(record)
    return pd.DataFrame(all_records)

df_1 = xml2df(tt)
df_2 = df_1.fillna('')
df_2

,Country,LastName,GivenName,Schedule,Item,DateOfBirth,Aliases,Entity,Title
0,Belarus / Bélarus,Atabekov,Khazalbek Bakhtibekovich,1,1,,,,
1,Belarus / Bélarus,Balaba,Dmitry Vladimirovich,1,2,1972,,,
2,Belarus / Bélarus,Barsukov,Aleksandr Petrovich,1,3,1965-04-29,,,
3,Belarus / Bélarus,Dmukhailo,Yelena Nikolaevna,1,4,1971,,,
4,Belarus / Bélarus,Ipatov,Vadim Dmitriyevich,1,5,1964-10-30,,,
...,...,...,...,...,...,...,...,...,...
2827,Zimbabwe,Zvayi,Cesar,N/A,177,,,,
2828,Zimbabwe,Charamba,Rudo Grace,N/A,178,1964-06-20,,,
2829,Zimbabwe,Dabengwa,Ijeoma,N/A,179,1971-10-27,,,
2830,Zimbabwe,Murerwa,Ruth Chipo,N/A,180,1947-07-27,,,
2831,Zimbabwe,Zhuwao,Beauty Lily,N/A,181,1965-01-10,,,

In [ ]:
df_2.to_csv("XML.csv")